<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Falconry</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="screen">
  <link rel="stylesheet" href="style/style.css" media="screen">
</head>
<body>

  <header>
    <a class="logoLink" href="#"><img class="logo"src="http://lorempixel.com/50/50"alt=""/></a>
    <span>Project Falcon</span>
    <a class="headerNav" href="#login" >Login</a>
    <a class="headerNav" href="#registration">Register</a>
  </header>

  <main id="mainArea"></main>

  <!--Nicks Scripts below -->
   <script type ="text/template" id="homeTemplate">

    <% _.forEach(tweets, function(tweet){ %>
      <div class="tweet">
        <span><%= tweet.id %></span>
        <div class="pic"><img src="http://lorempixel.com/125/125"  /></div>
        <span><%= tweet.attributes.body %></span>
        <span><%= tweet.attributes.created_at %></span>
      </div>
    <% }) %>

   </script>

  <!-- Jase Script below -->
  <script type="text/template" id="signInTemplate">

    <div class="">
      <span>Login: </span>
        <input type="text" name="name" value="" placeholder="username">
        <input type="text" name="name" value="" placeholder="password">
      <input class="signinButton" type="submit" value="Sign In">
      <span>or</span>
      <a href="#registration">Register</a>
    </div>

  </script>


  <!-- Allens Scripts Below -->
  <script type="text/template" id="registerTemplate">
   <div  class="registrationRoute">
     <form action="">
        <input type="email" class="email" name="email" placeholder="email"><br>
        <input class="password" type="password" name="password" placeholder="password"><br>
        <input class="confirmPassword" type="password" name="password" placeholder="confirm Password"><br>
        <input class="registerButton" type="submit" value="Register">
      </form>
   </div>
  </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
