@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
  $visual-grid: true;
@import '../bower_components/neat/app/assets/stylesheets/_neat.scss';

header {
  @include span-columns(12);
  background: #1C8CB8;
  border-bottom: 1px solid #000;

  .logoLink {
    margin-top:1em;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    @include shift(2);
    top: 0.3em;
    position:relative;

    .logo {
      padding: 10px;
      border-radius:2em;
    }

    .logoText{
      font-family: sans-serif;
      color: #fff;
      position: relative;
      bottom: 0.85em;
      font-size: 1.5em;
      font-weight: bolder;
    }
  }
  span {
    font-family: sans-serif;
    color: #fff;
  }
  .headerNav {
    @include span-columns(4);
    float: right;
    margin-top: 1.7%;

    a{
      text-decoration: none;
      padding: 10px;
      color: #fff;
      font-size: 1.2em;
    }
  }
}

  section{
    @include outer-container(66.5%);

    .tweet{
      @include span-columns(12);
      margin-top:2em;
      float:left;
      border-bottom:1px solid rgba(128, 128, 128, 0.57);

      .tweetPic{
        @include span-columns(1);

        img{
          border-radius: 5em;
          width:5em;
          height:5em;
        }
      }
        span{
          @include span-columns(8);
        }

        .tweetUser{
          font-size:1.2em;
          font-weight: bolder;
          margin-top:0.5em
        }

        .tweetText{

        }

        .tweetTime{
          color: #8899a6;
          font-size:0.7em;
        }
    }
  }
