@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
  $visual-grid: true;
@import '../bower_components/neat/app/assets/stylesheets/_neat.scss';

header {
  @include span-columns(12);
  background: #1C8CB8;
  border-bottom: 1px solid #000;
  .logo {
    padding: 10px;
  }
  span {
    font-family: sans-serif;
    color: #fff;
  }
  a {
    // @include span-columns(2 of 6);
    // @include shift(1);
    text-decoration: none;
    color: #fff;
    float: right;
    padding: 15px;

  }

}
